#img1{
    height: 300px;
    width: 500px;
    position: absolute;
}

#mydiv{
    position: relative;
    display: none;
}
#closeicon{
    position: absolute;
    left: 500px;
}


readmore readless style

#para2{
    display: none;
}
#btn2{
    display: none;
}
